In [3]:
# Generate the data 
import pandas as pd
import numpy as np

# parameters 
num_rows = 3000

np.random.seed(42)

# function to help generate random gender 
def random_gender():
    return np.random.choice(['Male', 'Famale'])

# generate random locatio 
def random_location():
    return np.random.choice(['Urban', 'Rural'])


def random_product():
    return np.random.choice(['A', 'B', 'C'])

data = {
    'customer_id': np.arange(28, 28 + num_rows),
    'age': np.random.randint(18, 60, size=num_rows),
    'gender': [random_gender() for  _ in range(num_rows)],
    'location': [random_location() for _ in range(num_rows)],
    'Purchase_history': np.random.randint(100, 1000, size=num_rows),
    'loyality_program': np.random.choice([0, 1], size=num_rows),
    'product_purchased': [random_product() for _ in range(num_rows)],
    'browsing_history': np.random.randint(5, 50, size=num_rows),
    'search_queries': np.random.randint(1, 20, size=num_rows),
    'social_media_active': np.random.choice([0, 1, 2], size=num_rows),
    'email_open_rate': np.random.uniform(0.0, 1.0, size=num_rows).round(2),
    'avg_order_value': np.random.uniform(10.0, 200.0, size=num_rows).round(2)
}

df = pd.DataFrame(data)
df.to_csv('Customer_data.csv', index=False)

In [8]:
cust_data = 'C:/Users/ISHMO_CT/Downloads/my-projects/deep_learning_env/LPEP/Customer_data.csv'

In [9]:
df = pd.read_csv(cust_data)

In [10]:
df.head()

,customer_id,age,gender,location,Purchase_history,loyality_program,product_purchased,browsing_history,search_queries,social_media_active,email_open_rate,avg_order_value
0,28,56,Famale,Urban,703,1,B,16,8,2,0.24,68.96
1,29,46,Famale,Rural,980,0,A,31,11,0,0.99,21.99
2,30,32,Male,Urban,842,0,A,34,6,1,0.95,24.21
3,31,25,Famale,Urban,177,1,C,25,11,1,0.56,57.83
4,32,38,Male,Urban,184,0,A,42,17,1,0.70,43.82

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          3000 non-null   int64
 1   age                  3000 non-null   int64
 2   gender               3000 non-null   object
 3   location             3000 non-null   object
 4   Purchase_history     3000 non-null   int64
 5   loyality_program     3000 non-null   int64
 6   product_purchased    3000 non-null   object
 7   browsing_history     3000 non-null   int64
 8   search_queries       3000 non-null   int64
 9   social_media_active  3000 non-null   int64
 10  email_open_rate      3000 non-null   float64
 11  avg_order_value      3000 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 281.4+ KB